
body{
    background-color: aliceblue;
    margin: 0%;
    padding: 0%;
}
.main{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-between;
    margin-top:1%;
}
.nav{
    /* background-color: aqua; */
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 15px;
    font-size: 1.5em;
}
.searchbar{
    display: flex;
    background-color: rgba(212, 212, 199, 0.288);
    align-self: center;
    justify-content: space-between;
    border-radius: 20px;
    width: 650px;
}
.searchimg{
    height: 20px;
}
.emailtext{
    align-self: center; 
    display: flex;
}
.mailsearch{
    align-self: center;  
    color: rgb(125, 131, 136);
    font-size: large;
}
.navleft{
    margin-right: 2px;
    margin-left: 150px;
    /* width:100% ; */
    align-content: center;
    justify-content:space-evenly;
}

.main2{
    display: flex;
    width: 100%;
    justify-content: center;
}
.compose{
    background-color: rgb(151, 181, 189);
    height: 70px;
    width: 140px;
    border-radius: 20px;
    align-items: center;
    display: flex;
}
.mails{
    height: 999px;
    width:1100px ;
    /* justify-content: center; */
    align-self:flex-start;
    background-color: rgb(216, 216, 224);
    border-radius: 20px;
    margin:0px 130px;
    overflow-y: scroll;
}
.mnav{
    background-color: rgb(216, 216, 224);
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: space-evenly;
    align-self: center;
    height: 60px ;
    width:20px ;
}
.meils{
    background-color: rgb(248, 250, 250);
    height:20px ;
    width:1090px ;
    border: 1px solid;
}
.jdc{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 1px;
    /* justify-content: left; */
    height: 100px;
    width: 40px;
    /* background-color: aquamarine; */
}